= form_for [:admin, @user] do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  = f.fields_for :roles do |r|
    .field
      = r.label :title
      = r.select :title, options_for_select(title_options)
    .field
      = r.label :status
      = r.select :status, options_for_select(role_status_options)
    .field
      = r.label :salary
      = r.number_field :salary
    .field
      = r.label :salary_terms
      = r.select :salary_terms, options_for_select(salary_term_options)
  .field
    = f.label :email
    = f.email_field :email
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  .actions
    = f.submit 'Save'